<h1>Editing disconnect</h1>

<% form_for(@disconnect) do |f| %>
  <%= f.error_messages %>

    <%= render :partial => 'form', :locals => { :f => f } %>
  <li>
    <%= f.submit "Update" %>
  </li>
</ol>
<% end %>
</fieldset>
<%= link_to 'Show', @disconnect %> |
<%= link_to 'Back', disconnects_path %>
