<% title " Repair Lists"  %>
<div align="center">
<h1>Listing repairs</h1>
  <a href="<%= url_for( :controller =>:repairs, :action => "index", :only_path => "true", :protocol => "http", :status => "NEW"  ) %>">New</a> |
  <a href="<%= url_for( :controller =>:repairs, :action => "index", :only_path => "true", :protocol => "http", :status => "COMPLETED"  ) %>">Completed</a> |
  <a href="<%= url_for( :controller =>:repairs, :action => "index", :only_path => "true", :protocol => "http", :status => nil  ) %>">All</a>

<table width="100%">
  <tr>
    <th colspan="2">Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Phone number</th>
    <th>Date</th>
    <th>Status</th>
  </tr>
<% count = 0 %>
<% for repair in @repairs %>
  <% count += 1 %>
  <tr class="<%= cycle( "even", "odd" ) %> " onClick="top.location.href='<%= url_for( :controller => :repairs, :action => "show", :only_path =>false, :protocol => 'http', :id => repair.id  ) %>';return true;">
    <td><%= count %></td>
    <td><%=h repair.name %></td>
    <td><%=h repair.address %></td>
    <td><%=h repair.city %></td>
    <td><%=h repair.phone_number %></td>
    <td><%=h repair.created_at.strftime( "%m/%d/%Y") %></td>
    <td><%=h repair.status %></td>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New repair', new_repair_path %>
</div>
